.form-input {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 1rem;
}

.form-input .form-input__icon {
    position: absolute;
    font-size: 1rem;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.form-input .form-input__input {
    padding: 0.5rem 1.5rem;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
    width: 100%;
}

.validate-input {
    margin-top: 0.2rem;
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}