.red {
    color: red;
}

.bold {
    font-weight: 600;
}

.invoice-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(222, 244, 248);
    padding: 5px;
    border-radius: 10px;
}

.invoice-container-goods,
.invoice-container-buyer,
.invoice-container-seller {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.invoice-container-buyer span,
.invoice-container-seller span {
    color: blue;
}

.text-right {
    text-align: right;
}