.form-submit__btn {
    background-color: rgb(0, 153, 255);
    outline: none;
    border: 0;
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}