.wrapper {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.wrapper-form {
    display: flex;
    flex-direction: row;
}

.wrapper .signup-side,
.wrapper .signup-description {
    width: 60%;
    text-align: left;
}

.wrapper .signup-side .signup-site__header {
    font-size: 2rem;
}



.wrapper .signup-side .signup-side__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}


.signup-side__form .form-confirm {
    margin-top: 1.3rem;
}

.signup-side__form .form-confirm span {
    font-style: italic;
}

.signup-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-footer {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.signup-footer .form-submit {
    width: 50%;
    text-align: left;
}

.signup-footer .form-submit__btn {
    background-color: rgb(0, 153, 255);
    outline: none;
    border: 0;
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.signup-footer .signup-description__link {
    width: 50%;
}

.signup-footer .signup-description__link a {
    color: black;
    font-size: 1.2rem;
}